.announcement-bar {
    padding: calc-em(9.5) 0;

    &__timer {

        &__title {
            font-size: calc-em(17);
            @include media-breakpoint-up(lg) {
                font-size: calc-em(22);
            }
        }

        .list-inline-item {
            p {
                font-size: calc-em(20);
                @include media-breakpoint-up(lg) {
                    font-size: calc-em(24);
                }
            }
            &:not(:first-child) {
                &:before {
                    content: ':';
                    position: absolute;
                    left: -12.5px;
                }
            }

            span {
                display: block;
                font-weight: normal;
                font-size: calc-em(13);
                @include media-breakpoint-up(lg) {
                    font-size: calc-em(16);
                }
            }
        }
    }
}
