.question-box {
    @include media-breakpoint-down(lg) {
        padding-bottom: calc-em(200);
    }
    
    .footer-action {
        @include media-breakpoint-down(lg) {
            position: fixed;
            z-index: $zindex-sticky;
        }
    }
}
