@font-face {
	font-family: "sofia-pro";
	src: url('../../../public/fonts/SofiaPro-Bold.woff2') format("woff2"),
	url('../../../public/fonts/SofiaPro-Bold.woff') format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "sofia-pro";
	src: url('../../../public/fonts/SofiaPro-Regular.woff2') format("woff2"),
	url('../../../public/fonts/SofiaPro-Regular.woff') format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "sofia-pro";
	src: url('../../../public/fonts/SofiaPro-Light.woff2') format("woff2"),
	url('../../../public/fonts/SofiaPro-Light.woff') format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
