.form-control {
    height: 3.125rem;
}

.product-swatch-mobile {
    transform: translateY(150%);
	transition: transform .25s ease-in-out;
	z-index: $zindex-sticky;
    
    &.show {
		transform: translateY(0);

		.tooltip--sold-out {
			transform: translateY(0%);
		}
	}
}

.product-form {
	svg.me-g {
		width: 2.2em;
	}
}