@function calculate-left($breakpoint) {
	@return calc(((100% - #{map-get($container-max-widths , $breakpoint)}) / 2) + (#{$grid-gutter-width-lg}) - (#{$grid-gutter-width}));
}

.youth-revive {

	&__section {
		padding-bottom: calc-em(35);
		@include media-breakpoint-up(lg) {
			padding-bottom: calc-em(100);
		}
	}

	&__carousel-control {
		.btn-disabled path {
			stroke: #BDBDBD;
		}
	}

	&__custom-scroll {

		overflow: auto hidden;
		scroll-behavior: smooth;

		&::-webkit-scrollbar:horizontal {
			height: 4px;
		}

		&::-webkit-scrollbar-track {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: #F3F4F6;
		}

		&::-webkit-scrollbar {
			width: 12px !important;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px !important;
			border-radius: 10px !important;
			background: #9CA3AF !important;
		}


		@include media-breakpoint-up(lg) {
			padding-left: calculate-left(lg) !important;
			&::-webkit-scrollbar {
				display: none;
			}
			-ms-overflow-style: none;
			scrollbar-width: none;
		}

		@include media-breakpoint-up(xl) {
			padding-left: calculate-left(xl) !important;
		}

		@include media-breakpoint-up(xxl) {
			padding-left: calculate-left(xxl) !important;
		}
	}

	&__products {
		@include media-breakpoint-up(lg) {
			padding-left: calculate-left(lg) !important;
			&-title {
				@include font-size(calc-em(48));
			}
		}

		@include media-breakpoint-up(xl) {
			padding-left: calculate-left(xl) !important;
		}

		@include media-breakpoint-up(xxl) {
			padding-left: calculate-left(xxl) !important;
		}

		&-card {
			&-title {
				min-height: 60px;
				@include media-breakpoint-up(lg) {
					min-height: 36px;
				}
			}
			&-title-fr {
				min-height: 100px;
				@include media-breakpoint-up(lg) {
					min-height: 60px;
				}
			}
			.btn {
				border: 2px solid $body-color;
			}

			@include media-breakpoint-down(md) {
				&-text {
					min-height: calc-em(60);
				}
			}
		}
	}

	&__reviews {
		@include media-breakpoint-down(md) {
			.col-95 {
				@include make-col(9.45, 12);
			}
		}
		@include media-breakpoint-up(lg) {
			padding-left: calculate-left(lg) !important;

			&-text {
				min-height: 140px;
			}

			&-title {
				@include font-size(calc-em(48));
			}
		}

		@include media-breakpoint-up(xl) {
			padding-left: calculate-left(xl) !important;
		}

		// @include media-breakpoint-up(xxl) {
		// 	padding-left: calculate-left(xxl) !important;
		// }

		// @include media-breakpoint-down(md) {
		// 	.youth-revive__custom-scroll::-webkit-scrollbar {
		// 		display: block;
		// 	}
		// }
	}

	&__ingredients {
		background-color: #fff8e8;
		padding-top: calc-em(35);
		padding-bottom: calc-em(35);

		@include media-breakpoint-up(lg) {
			padding-top: calc-em(60);
			padding-bottom: calc-em(60);
			&-card {
				@include make-col(3.55, 12);
			}
			&-title {
				@include font-size(calc-em(48));
			}
			&-control {
				left: calculate-left(lg);
			}
		}

		@include media-breakpoint-up(xl) {
			&-control {
				left: calculate-left(xl);
			}
		}

		@include media-breakpoint-up(xxl) {
			&-control {
				left: calculate-left(xxl);
			}
		}

		.youth-revive__custom-scroll{
			&::-webkit-scrollbar {
				display: none;
			}
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}

	&__banner-text {
		figcaption {
			position: absolute;
			bottom: 35px;
			left: 20px;
			right: 20px;

			@include media-breakpoint-up(lg) {
				@include font-size($h2-font-size);
			}
		}

		&-title,
		&-caption {
			@include font-size($h2-font-size);
			@include media-breakpoint-up(lg) {
				font-size: 32px;
			}
		}

		&-desc {
			@include font-size($font-size-base);
			@include media-breakpoint-up(lg) {
				@include font-size($h2-font-size-lg);
			}
		}

		&-caption {
			color: rgba(122, 122, 122, 0.50);
		}

		@include media-breakpoint-up(lg) {
			&-wrapper {
				grid-column-start: col-start 2;
				grid-column-end: span 5;
			}
			&-content {
				display: grid;
				grid-template-columns: repeat(6,[col-start] minmax(0,70px));
				column-gap: 30px;
				align-content: center;
			}

			.svg__scale {
				transform: scale(2);
			}

			&-title-gap {
				padding-top: calc-em(80) !important;
			}
		}
	}

	&__banner-text-reverse {
		background-color: #fff8e8;

		&-title {
			@include font-size($h2-font-size);
			@include media-breakpoint-up(lg) {
				@include font-size(calc-em(48));
				line-height: 48px;
				&-gap {
					margin-bottom: calc-em(42.5) !important;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			&-sub,
			&-caption {
				@include font-size(calc-em(34));
			}

			&-wrapper {
				grid-column-start: col-start 3;
				grid-column-end: span 7;
			}
			&-content {
				column-gap: 15px;
				grid-template-columns: repeat(8,[col-start] minmax(0,70px));
			}
		}
	}

	&__footer {
		figcaption {
			bottom: 45px;
			@include font-size($h2-font-size);
			min-height: calc-em(48);
			line-height: 24px;
		}

		p {
			padding-top: 40px;
			text-align: center;
			padding-bottom: 10px;
			@include font-size(calc-em(10));
			@include media-breakpoint-up(lg) {
				@include font-size($font-size-base);
			}
		}
	}

	&__routine {
		&-text {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 10px;
			text-align: center;
			@include media-breakpoint-up(lg) {
				@include font-size($h2-font-size);
				text-align: left;
				left: 24px;
				bottom: 20px;
				right: auto;
			}
		}

		@include media-breakpoint-down(md) {
			&-img-left {
				border-right: 1px solid #fff;
			}
			&-img-right {
				border-left: 1px solid #fff;
			}
		}

		@include media-breakpoint-up(lg) {
			&-title {
				@include font-size(calc-em(48));
			}

			&-sub,
			figcaption {
				@include font-size($h2-font-size-lg);
			}

			&-key {
				min-height: calc-em(85);
			}

			&-hiw {
				margin-bottom: 8px;
			}
		}
	}

	&__articles figcaption {
		position: absolute;
		bottom: 24px;
		left: 22.5px;
		@include media-breakpoint-up(lg) {
			left: 30px;
		}

		.youth-revive__articles-title {
			@include font-size($h2-font-size-lg);
			@include media-breakpoint-up(lg) {
				min-height: 50px;
			}
		}

		.btn {
			border: 2px solid $body-color;
		}
	}

	&__product-title {
		@include font-size(calc-em(20));
	}

	@include media-breakpoint-up(lg) {
		&__accordion-title {
			@include font-size(calc-em(48));
		}
		&__product-title {
			@include font-size(calc-em(32));
		}
	}

	&__accordion-panel {
		.accordion-button.collapsed {
			color: rgba(122, 122, 122, 0.50);
		}

		.accordion-item,
		.accordion-button {
			background-color: transparent;
		}
	}
}

.youth-revive__accordion {
	.faq-accordion,
	.accordion-button,
	.accordion-collapse {
		background-color: white !important;
	}
}

.youth-revive__range__banner {
	margin-top: 60px;
}

.yl-lp-header {
	z-index: 1000;
}

@include media-breakpoint-up(lg) {
	main {
		display: flex;
		flex-flow: column;

		.youth-revive__range__banner {
			order: 1;
		}
		.youth-revive__products {
			order: 2;
		}
		.youth-revive__banner-text {
			order: 3;
		}
		.youth-revive__ingredients-wrapper, .skincare__banner-text-reverse-wrapper, .skincare__results {
			order: 4;
		}

		.youth-revive__reviews, .skincare__ingredients-wrapper {
			order: 5;
		}
		.youth-revive__banner-text-reverse-wrapper {
			order: 6;
		}
		.youth-revive__routine {
			order: 7;
		}
		.youth-revive__articles, .skincare__reviews {
			order: 8;
		}
		.youth-revive__accordion {
			order: 9;
		}
		.youth-revive__footer {
			order: 10;
		}
	}

	.col-lg-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-lg-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-lg-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.offset-lg-4 {
		margin-left: 33.33333%;
	}
	.offset-lg-3 {
		margin-left: 25%;
	}
	.offset-lg-2 {
		margin-left: 16.66667%;
	}
	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-lg-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-lg-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}
	.col-lg-review {
		@include make-col(4.85, 12);

		&--left {
			@include make-col(2.7, 12);
		}
		&--right {
			@include make-col(9.3, 12);
		}
	}

	.col-lg-product {
		@include make-col(5.5, 12);
		&--left {
			@include make-col(3.75, 12);
		}

		&--right {
			@include make-col(8.25, 12);
		}
	}
}

.skincare {
	&__ingredients {
		background-color: #ffffff;
	}

	@include media-breakpoint-up(lg) {
		&__banner {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	&__products {
		&-card {
			&-title {
				min-height: 40px;
				@include media-breakpoint-up(lg) {
					min-height: 36px;
				}
			}
		}
		&-card-text {
			line-height: 16px;
		}
	}

	&__banner-text-reverse {
		background: linear-gradient(47.65deg, #FDEFB0 5.23%, #FFC5F6 94.22%);
	}

	&__result-card {
		background: linear-gradient(47.65deg, #FDEFB0 5.23%, #FFC5F6 94.22%);
		border-radius: 16px;
		padding: 12px 16px;
		@include media-breakpoint-up(lg) {
			padding: 22px 22px;
		}
	}

	&__banner-text {
		&-title {
			@include font-size(calc-em(32));
			@include media-breakpoint-up(lg) {
				@include font-size(calc-em(48));
				&-gap {
					margin-bottom: calc-em(42.5) !important;
				}
			}
		}

		&-desc {
			line-height: 20px;
			@include font-size(calc-em(14));
			@include media-breakpoint-up(lg) {
				@include font-size($h2-font-size-lg);
			}
		}
	}
}