
.announcement-bar {
    &__timer {
        background-color: #0D0E09;

        ul {
            list-style: none;
            padding: 0;
        }

        &__title {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
                text-align: left;
                width: 30%;
            }
        }

        .list-inline-item {
            display: inline-block;
            @include media-breakpoint-down(lg) {
                font-size: calc-em(20);
            }
            &:not(:first-child) {
                &:before {
                    content: ':';
                    position: absolute;
                    left: -15px;
                }
            }
            
            span {
                display: block;
                font-size: calc-em(9);
                font-weight: normal;

                @include media-breakpoint-up(lg) {
                    font-size: calc-em(10);
                }
            }
        }
    }
    
}

.sweepstakes {
    min-height: 100vh;
    background-color: black;

    &__logo {
        svg {
            width: 80px;

            @include media-breakpoint-up(lg) {
                width: 120px;
            }
        }
    }

    &__wrapper {
        min-height: 87vh;
        padding: 10px 0;
        background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/mobile_bg.png?v=1667556038');
        background-repeat: no-repeat;
        background-size: 100%;

        @include media-breakpoint-up(lg) {
            padding: 50px 0;
            background-image: url('https://cdn.shopify.com/s/files/1/0286/1327/9779/files/DT_bg.png?v=1667556041');
        }
    }

    &__form {
        label {
            background-color: #f5f5f5;
        }

        .sweepstakes__phone {
            flex-basis: 65%;
        }

        .input-group-addon {
            border: 1px solid #f5f5f5;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            background-color: #f5f5f5;
            height: 3.125rem;
            border: 1px solid #f5f5f5;
 
            .custom-select {
                display: inline-block;
                width: 100%;
                height: 0.125rem;
                padding: 0.875em 2em 0.875em 1em;
                font-size: 1em;
                font-weight: 400;
                line-height: 1.25;
                color: #151515;
                vertical-align: middle;
                background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") right 1em center/1em 0.5625em no-repeat;
                border: 1px solid #f5f5f5;
                border-radius: 0.25rem;
                border: 1px solid #f5f5f5;
                background-color: #f5f5f5;
                transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                opacity: 0;
            } 
        }

        .btn-primary[disabled] {
            background-color: $light;
            border-color: $light;
        }
    }
}